@model DEKL.CP.UI.ViewModels.MeuPerfil

@{
    ViewBag.Title = "Meu Perfil";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <form class="col-md-6 col-sm-12" method="post">
        <div class="form-group">
            @Html.LabelFor(m => m.Nome)
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            <small>
                @Html.ValidationMessageFor(m => m.Nome, null, new { @class = "text-danger" })
            </small>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Sobrenome)
            @Html.TextBoxFor(m => m.Sobrenome, new { @class = "form-control" })
            <small>
                @Html.ValidationMessageFor(m => m.Sobrenome, null, new { @class = "text-danger" })
            </small>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DataCadastro)
            @Html.TextBoxFor(m => m.DataCadastro, new { @class = "form-control", @readonly = "" })
        </div>
        <div class="form-group">
            <button class="btn btn-outline-secondary">
                Confirmar
            </button>
            <a class="btn btn-outline-warning" href="@Request.UrlReferrer">Cancelar</a>
        </div>
    </form>
</div>