@using DEKL.CP.UI.Extensions
@model IEnumerable<DEKL.CP.UI.ViewModels.Provider.ProviderPhysicalLegalPersonViewModel>

@section styles{
    @Styles.Render("~/Content/datatables")
}

<h2>Relatório de Fornecedores</h2>

<p>
    <input type="button" onclick="ExportarProviderReport();" class="btn btn-info" id="ExportButton" value="Exportar" />
</p>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.NameCorporateName)</th>
                    <th>@Html.DisplayNameFor(m => m.TypeProvider)</th>
                    <th>@Html.DisplayNameFor(m => m.PhoneNumber)</th>
                    <th>@Html.DisplayNameFor(m => m.Email)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.NameCorporateName)</td>
                        <td>@item.TypeProvider.GetDescription()</td>
                        <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
                        <td>@Html.DisplayFor(m => item.Email)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        $(() => {
            $('.table').DataTable({
                tabIndex: -1,
                scrollY: "380px",
                scrollCollapse: true,
                responsive: true,
                columnDefs: [
                    { className: "text-left", "targets": [0, 3] }
                ],
                language: {
                    decimal: "",
                    emptyTable: "Sem dados disponíveis na tabela",
                    info: "Página _PAGE_ de _PAGES_",
                    infoEmpty: "Sem registros disponíveis",
                    infoFiltered: "(filtrados do total de _MAX_ registros)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Exibir _MENU_ linhas por página",
                    loadingRecords: "Carregando...",
                    processing: "Processando...",
                    search: "Filtrar:",
                    zeroRecords: "Não encontrado",
                    paginate: {
                        first: "Primeiro",
                        last: "Último",
                        next: "Avançar",
                        previous: "Voltar"
                    },
                    aria: {
                        sortAscending: ":ativado para ordenação ascendente",
                        sortDescending: ":ativado para ordenação descendente"
                    }
                }
            });
        });

        function ExportarProviderReport() {
            document.getElementById('downloader').src = '@Url.Action("ExportarProviderReport", "Report")';
        }

    </script>  
}

<iframe id="downloader" style="display:none;"></iframe>