@model DEKL.CP.UI.ViewModels.Conta.TrocarSenha.LoginVM
@{
    ViewBag.Title = "Trocar Senha";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <form class="col-md-6 col-sm-12" method="post">
        <div class="form-group">
            @Html.LabelFor(model => model.Senha)
            @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
            <small>
                @Html.ValidationMessageFor(model => model.Senha, null, new { @class = "text-danger" })
            </small>
        </div>
        <div class="form-group">
            <label>Confirme a Senha</label>
            @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
            <small>
                @Html.ValidationMessageFor(model => model.ConfirmaSenha, null, new { @class = "text-danger" })
            </small>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-secondary">
                Confirmar
            </button>
            <a class="btn btn-outline-warning" href="@Request.UrlReferrer">Cancelar</a>
        </div>
    </form>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.validate.js"></script>
}