<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
    <title>DEKL - Contas a Pagar | @ViewBag.Title</title>
</head>
<body>
    <div class="wrapper">
        @Html.Partial("_Sidebar")
        <div id="content" class="full-content">
            @Html.Partial("_Navbar")
            <div class="body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    <script type="text/javascript">
        $(() => {
            $('#sidebarCollapse').click(() => {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    @RenderSection("scripts", false)
    @Html.Partial("_Toastr")
</body>
</html>