<nav id="sidebar" class="active">
    <div>
        <i class="fas fa-thumbtack"></i>
    </div>
    <div class="sidebar-header">
        <h3>DEKL - CP</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Contas a Pagar</p>
        @if (User.IsInRole("Administrador"))
        {
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Controle de Usuário</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        @Html.ActionLink("Usuário", "Index", "UsersAdmin")
                    </li>
                    <li>
                        @Html.ActionLink("Grupo", "Index", "RolesAdmin")
                    </li>
                </ul>
            </li>
        }

        <li>
            @Html.ActionLink("Banco", "Index", "Bank")
        </li>

        <li>
            @Html.ActionLink("Agência", "Index", "BankAgency")
        </li>

        <li>
            @Html.ActionLink("Contas a Pagar", "Index", "AccountToPay")
        </li>

        <li>
            <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Conta Bancária</a>
            <ul class="collapse list-unstyled" id="homeSubmenu2">
                <li>
                    @Html.ActionLink("Contas de Fornecedores", "Index", "ProviderBankAccount")
                </li>

                <li>
                    @Html.ActionLink("Contas Internas", "Index", "InternalBankAccount")
                </li>
            </ul>
        </li>

        <li>
            @Html.ActionLink("Fornecedor", "Index", "Provider")
        </li>

        <li>
            <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Relatórios</a>
            <ul class="collapse list-unstyled" id="homeSubmenu3">
                <li>
                    @Html.ActionLink("Contas à Pagar", "AccountToPayReport", "Report")
                </li>

                <li>
                    @Html.ActionLink("Fornecedor", "ProviderReport", "Report")
                </li>

                <li>
                    @Html.ActionLink("Contas Bancárias", "BankAccountReport", "Report")
                </li>
            </ul>
        </li>
    </ul>
</nav>