@model DEKL.CP.UI.ViewModels.Provider.ProviderBankAccountViewModel

<h2>Excluir Conta Bancária</h2>
<h3>Tem certeza que você quer deletar essa conta bancária? </h3>

<div class="group">
    <h4>Conta Bancária</h4>
    <hr />
    @Html.ValidationMessage("Error", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt class="title-detail">
            @Html.DisplayNameFor(m => m.Name):
        </dt>
        <dd class="text-detail">
            @(Model.Name ?? "Não informado")
        </dd>

        <dt class="title-detail">
            @Html.DisplayNameFor(m => m.Number):
        </dt>
        <dd class="text-detail">
            @Html.DisplayFor(m => m.Number)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" class="btn btn-danger" value="Excluir" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>