@model DEKL.CP.UI.ViewModels.Provider.ProviderLegalPersonViewModel

<h2>Detalhes</h2>

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="title-detail">
            @Html.DisplayNameFor(m => m.CorporateName):
        </dt>
        <dd class="text-detail">
            @Html.DisplayFor(m => m.CorporateName)
        </dd>

        <dt class="title-detail">
            @Html.DisplayNameFor(m => m.CNPJ):
        </dt>
        <dd class="text-detail">
            @Html.DisplayFor(m => m.CNPJ)
        </dd>
    </dl>
</div>

<h4>Lista de contas</h4>
@if (Model.AccountsToPay.Count == 0)
{
    <hr />
    <p>Não há contas cadastradas para este fornecedor</p>
}

<table class="table">

    @foreach (var item in Model.AccountsToPay)
    {
        <tr>
            <td>
                @item.DocumentNumber
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</p>