@model  DEKL.CP.UI.ViewModels.AccountsToPay.AccountToPayViewModel
@using DEKL.CP.UI.Extensions

@{
    ViewBag.Title = "Pagar";
    int DiasVencidos = 0; decimal multaDiaria = 0; decimal multa = 0;
}

<h2>@ViewBag.Title</h2>
<div>
    <h4>Bancos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.DocumentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.DocumentNumber)
        </dd>

        @*se for vencido*@
        @if (DateTime.Now > Model.PaymentDate)
        {
            <dt>
                Valor Vencido
            </dt>
            <dd>
                @Model.Value.ToString("C2")
            </dd>
            <dt>
                Valor total com juros
            </dt>
            <dd>
                @{ 
                    DiasVencidos = (int)DateTime.Now.Subtract(new DateTime(Model.PaymentDate.Value.Year, Model.PaymentDate.Value.Month, Model.PaymentDate.Value.Day)).TotalDays;
                    multaDiaria = (DiasVencidos * Model.DailyInterest);
                    multa = ((Model.Value * Model.Penalty) / 100);

                    @Html.Raw((Model.Value + multaDiaria + multa).ToString("C2"))
                }
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(m => m.Value)
            </dt>
            <dd>
                @Model.Value.ToString("C2")
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(m => m.Description)
        </dt>
        <dd>
            @(!string.IsNullOrEmpty(Model.Description) ? Model.Description : "Sem descrição")
        </dd>
    </dl>
</div>

<div class="row">
    <div class="form-group col-md-3">
         @Html.DropDownList("Contas Internas", ViewBag.InternalBankAccounts as SelectList, "Selecione a Conta Interna", new {@class = "form-control"})
    </div>
    <div class="form-group col-md-3">
        @Html.DropDownList("Contas Bancarias", ViewBag.InternalBankAccounts as SelectList, "Selecione a Conta Bancária", new {@class = "form-control"})
    </div>
    <div class="form-group col-md-3">
         @Html.DropDownListFor(m => m.PaymentType, DEKL.CP.Domain.Enums.PaymentType.BankDeposit.ToSelectList() as SelectList, new {@class = "form-control"})
    </div>
</div>

<p>
    <a href="#" class="btn btn-info" onclick="history.go(-1);">Voltar</a>
    <input type="button" class="btn btn-info" id="PagarConta" value="Pagar" />
</p>
