@model IEnumerable<DEKL.CP.UI.ViewModels.UsersAdmin.ApplicationUsersViewModel>

@section styles{
    @Styles.Render("~/Content/datatables")
}

<h2>Usuários</h2>

<div class="row">
    <div class="col-md-12">
        <section id="changePasswordForm">
            <p>
                @Html.ActionLink("Adicionar", "Create", null, new { @class = "btn btn-info" })
            </p>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.FullName)</th>
                        <th>@Html.DisplayNameFor(m => m.Email)</th>
                        <th>@Html.DisplayNameFor(m => m.PhoneNumber)</th>
                        <th>@Html.DisplayNameFor(m => m.EmailConfirmed)</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.FullName)</td>
                            <td>@Html.DisplayFor(m => item.Email)</td>
                            <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
                            <td>@(item.EmailConfirmed ? "Sim" : "Não")</td>
                            <td>
                                <a href='@(Url.Action("Edit", new { id = item.Id }))'><i class="fas fa-pen"></i></a>
                                <a href='@(Url.Action("Details", new { id = item.Id }))'><i class="fas fa-info-circle"></i></a>
                                <a href='@(Url.Action("Delete", new { id = item.Id }))'><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(() => {
            $('.table').DataTable({
                tabIndex: -1,
                scrollY: "280px",
                scrollCollapse: true,
                responsive: true,
                columnDefs: [
                    { className: "text-left", "targets": [0, 2] },
                    { className: "text-center", "targets": [3, 4] },
                    { width: "13%", "targets": 4 },
                    { orderable: false, "targets": 4 }
                ],
                language: {
                    decimal: "",
                    emptyTable: "Sem dados disponíveis na tabela",
                    info: "Página _PAGE_ de _PAGES_",
                    infoEmpty: "Sem registros disponíveis",
                    infoFiltered: "(filtrados do total de _MAX_ registros)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Exibir _MENU_ linhas por página",
                    loadingRecords: "Carregando...",
                    processing: "Processando...",
                    search: "Filtrar:",
                    zeroRecords: "Não encontrado",
                    paginate: {
                        first: "Primeiro",
                        last: "Último",
                        next: "Avançar",
                        previous: "Voltar"
                    },
                    aria: {
                        sortAscending: ":ativado para ordenação ascendente",
                        sortDescending: ":ativado para ordenação descendente"
                    }
                }
            });
        });
    </script>
}
