@model DEKL.CP.Infra.CrossCutting.Identity.Models.Claim

@{
    ViewBag.Title = "Detalhes";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Funcionalidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.Name)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Name)
        </dd>
    </dl>
</div>
<h4>Lista de usuários associados a funcionalidade</h4>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>Não há usuários associados a essa funcionalidade</p>
}

<table class="table">

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</p>



